bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
Django==2.2.11
docutils==0.16
idna==2.8
pkginfo==1.5.0.1
Pygments==2.6.1
PyJWT==1.7.1
python-pushover==0.4
pytz==2019.3
qrcode==6.1
random-user-agent==1.0.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
tqdm==4.43.0
twilio==6.35.4
twine==1.15.0
urllib3==1.25.8
webencodings==0.5.1
WhatsPy==0.0.1
